* {
    transition: background-color 300ms ease, color 300ms ease;
}

*:focus {
    outline: none;
}

html,
body {
    color: rgba(33, 37, 41, 1);
    font-size: 16px;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background-color: #f7f8f9;
}

.required:after {
    content:" *";
    color: red;
}
.lbl-reporttype {
    font-family: Lato;
    font-weight: 600;
    margin: 20px;
}


section {
    margin: 0 auto;
    max-width: 1100px;
    padding: 2.5rem 1.75rem 3.5rem 1.75rem;
}

section h1 {
    margin-bottom: 2.5rem;
}

section h2 {
    font-size: 120%;
    line-height: 2.5rem;
    padding-top: 1.5rem;
}

section pre {
    background-color: rgba(247, 248, 249, 1);
    border: 1px solid rgba(242, 242, 242, 1);
    display: block;
    font-size: .9rem;
    margin: 2rem 0;
    padding: 1rem 1.5rem;
    white-space: pre-wrap;
    word-break: break-all;
}

section code {
    display: block;
}

section a {
    color: rgba(221, 72, 20, 1);
}

section svg {
    margin-bottom: -5px;
    margin-right: 5px;
    width: 25px;
}

.further {
    background-color: rgba(247, 248, 249, 1);
    border-bottom: 1px solid rgba(242, 242, 242, 1);
    border-top: 1px solid rgba(242, 242, 242, 1);
    margin-bottom: 100px;
    padding-bottom: 30px;
}

.further h2:first-of-type {
    padding-top: 0;
}







.tab {
    overflow: hidden;
    border: 1px solid #e2693f24;
    background-color: #f4d3a7;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    font-family: Lato;
    background-color: #f0a54200;
    color: rgb(38, 64, 146);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    font-family: Lato;
    background-color: #f0a54263;
}

/* Create an active/current tablink class */
.tab button.active {
    font-family: Lato;
    background-color: #ef951eba;
    color: #fff;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #c6562f08;
    border-top: none;
    background-color: #ef951e0f;
    color: rgb(38, 64, 146);
}

.submitbutton {
    width: 80%;
    padding: 10px;
    margin: 15px;
    text-align: center;
}

.radio {
    font-family: Lato;
    font-weight: 500;
    display: inline;
}

.report-select {
    width: 50%;
    display: inline;
    margin-left: 40px;
}

.report-type {
    padding: 10px;
    margin: 15px;

}

